@import "../variables";

.root-head {
    .auth-nav {
        float: right;
        font-size: 21px;
        margin-top: .29em;
        margin-right: .5em;
        &:hover {
            cursor: pointer;
        }
        .sign-in {
            padding: 5px 12px;
            transition: all .5s ease;
            &:hover, &.show-auth {
                color: white;
                background: rgba(255,255,255,0.1);
                border-radius: 6px;
            }
        }
    }
    .search-box {
        display: inline-block;
        float: right;
        position: relative;
        .search-ico {
            position: absolute;
            vertical-align: middle;
            color: white;
            font-size: 21px;
            top: 6px;
            right: 8px;
            cursor: pointer;
        }
        .search-posts {
            display: inline-block;
            float: right;
            border-radius: 32px;
            border: solid 1px transparent;
            padding: 6px 18px;
            background: rgba(255, 255, 255, 0.1);
            color: white;
            font-size: 19px;
            width: 30px;
            transition: all .5s ease;
            &:focus {
                border: solid 1px white;
                outline: none;
            }
            &.open {
                width: 300px;
                transition: all .5s ease;
            }
        }
    }

    .header-text {
        margin: 0;
        position: absolute;
        top: 18px;
        padding: 6px 18px;
        left: 0;
        display: block;
        width: 100%;
        background: rgba(255,255,255,0.2);
        span {
            color: white;
            &.secondary-text {
                color: $secondary;
            }
        }
    }
}

.left-side-nav {
    display: flex;
    position: fixed;
    top: 39%;
    left: -142px;
    transition: all .7s ease;
    align-content: center;
    align-items: center;
    &.showed {
        left: 0;
        transition: all .7s ease;
    }
    .nav {
        background: white;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        li {
            position: relative;
            display: block;
            border-bottom: solid 3px $secondary;
            cursor: pointer;
            a {
                color: $secondary;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .arrows-block {
        font-size: 49px;
        color: white;
        display: block;
        padding-bottom: 0.3em;
        cursor: pointer;
        margin-left: 4px;
        &:hover {
            color: $secondary;
        }
        svg {
            background: rgba(255,255,255, 0.3);
            border-radius: 3px;
        }
    }
}

.main-page {
    margin-top: 7em;
}

.bm-morph-shape {
    fill: white;
}
//.bm-burger-button {
//    button {
//        display: none!important;
//    }
//}
.nav-btn-open {
    opacity: 0;
}