@import "../variables";

.root-head {
    .auth-nav {
        float: right;
        font-size: 21px;
        margin-top: .29em;
        margin-right: .5em;
        &:hover {
            cursor: pointer;
        }
        .sign-in {
            padding: 5px 12px;
            transition: all .5s ease;
            &:hover, &.show-auth {
                color: $secondary;
                background: rgba(255,255,255,0.1);
                border-radius: 6px;
            }
        }
    }
    .search-box {
        display: inline-block;
        float: right;
        position: relative;
        .search-ico {
            position: absolute;
            vertical-align: middle;
            color: black;
            font-size: 21px;
            top: 6px;
            right: 8px;
            cursor: pointer;
            transition: color .5s ease;
            &:hover {
                color: $secondary;
            }
        }
        .search-posts {
            display: inline-block;
            float: right;
            border-radius: 32px;
            border: solid 1px transparent;
            padding: 6px 18px;
            color: black;
            font-size: 19px;
            width: 30px;
            transition: all .5s ease;
            box-shadow: 0px 0px 3px -1px black;
            &:focus {
                outline: none;
            }
            &.open {
                width: 300px;
                transition: all .5s ease;
            }
        }
    }

    .header-text {
        margin: 0;
        position: absolute;
        top: 18px;
        padding: 10px 18px;
        left: 0;
        display: block;
        width: 100%;
        background: white;
        box-shadow: 0 6px 6px 1px rgba(0,0,0,0.3);
        span {
            color: black;
            &.secondary-text {
                color: $secondary;
            }
        }
    }
}

.nav {
    position: fixed;
    height: 100%;
    background: white;
    width: 200px;
    z-index: 2;
    padding: 10px 0;
    top: 0;
    left: -200px;
    transition: left .5s ease, box-shadow .5s .5s ease;
    &.showed {
        left: 0;
        box-shadow: 1px 0 3px 3px rgba(0,0,0,0.4);
        transition: left .5s ease, box-shadow .5s ease;
    }
    .open-menu-trigger {
        position: absolute;
        top: 50%;
        left: 200px;
        cursor: pointer;
        background: white;
        padding: 3px 14px 6px 5px;
        font-size: 21px;
        border-top-right-radius: 21px;
        border-bottom-right-radius: 21px;
        box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.4);
    }
}

.main-page {
    margin-top: 7em;
}

.bm-morph-shape {
    fill: white;
}

.nav-btn-open {
    opacity: 0;
}