@import "../../variables";

.auth-container {
    position: absolute;
    right: 27px;
    top: 64px;
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease, box-shadow .5s .5s ease;
    cursor: default;
    &.show-auth {
        border-radius: 5px;
        opacity: 1;
        z-index: 4;
        box-shadow: 0 3px 8px 1px rgba(0,0,0,0.3);
        .content {
            top: 0;
            cursor: pointer;
        }
    }
    .content {
        position: relative;
        top: -230px;
        padding: 10px;
        background: white;
        transition: top .5s ease, box-shadow 2s ease;
        border-radius: 0 0 5px 5px;
        input {
            display: block;
            margin-bottom: 0.2em;
            background: white;
            color: black;
            border: solid 1px 0 $primary;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            padding: 6px;
            outline: none;
            transition: border .5s ease;
            &:focus {
                border-color: $secondary;
            }
        }
    }
    .message-error {
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        background: #f2dede;
        color: #a94442!important;
        border: solid 1px #f2dede;
        padding: 5px;
        border-radius: 4px;
        margin-top: 1em;
    }
    .reg-login {
        margin-top: 1em;
        text-align: center;
        .reg-sign {
            margin-top: .5em;
            font-size: 13px;
            display: block;
            text-transform: uppercase;
            text-decoration: underline;
        }
        .my-btn {
            display: inline-block;
            background: transparent;
            padding: 7px 9px;
            border-radius: 4px;
            font-size: 18px;
            &.login-btn {
                margin-right: .5em;
                width: 100%;
                border: $second-primary;
                background: $second-primary;
                color: white;
                &:hover, &:focus {
                    background: $secondary;
                    //color: $primary;
                }
            }
            &.reg-btn {
                border: solid 1px dodgerblue;
            }
        }
    }
}